{% extends 'base.html' %}

{% block title %}パスワード変更{% endblock %}

{% block contents %}
<div class ="pass"><h1>パスワードを変更してください</h1><br>

<h5>古いパスワード&emsp;&emsp;<input type="password"></h5><br>
<h5>新しいパスワード&emsp;<input type="password"></h5><br>
<h5>パスワード確認&emsp;&emsp;<input type="password"></h5><div><br>
                <form  action="{% url 'maplan:change_passwordkannryou' %}">
        <p><input type="button" value="戻る" id="button">&emsp;&emsp;<input type="button" value="送信" id="button"></p>


{% endblock %}
