{% extends 'base.html' %}

{% block title %}パスワード変更{% endblock %}

{% block contents %}

    <div class ="pass"><h1>パスワードを変更してください</h1><br>　
        <h5>古いパスワード  <input type="password"></h5><br>
        <h5>新しいパスワード&emsp;<input type="password"></h5><br>
        <h5>パスワード確認&emsp;&emsp;<input type="password"></h5>
        <div><br><form  action="{% url 'maplan:change_passwordkannryou' %}"/>
            <a class="btn btn-primary" href="{% url 'maplan:personal' %}">戻る</a>
                &emsp;&emsp;
            <a class="btn btn-primary" href="{% url 'maplan:change_passwordkannryou' %}">登録</a>
        </div>
    </div>
{% endblock %}
