{% extends 'base.html' %}

{% load static %}

{% block title %}個人情報変更{% endblock %}

{% block contents %}
<link rel="stylesheet" type="text/css" href="{% static 'css/small_regulation.css' %}"/>


<div class = "personal">
    <h1>個人情報の変更</h1>
</div><br>

<div class = "personal1">
    <div class = "a">ユーザー名　　　</div>
    <input type="email" name="login" placeholder="ユーザー名" autocomplete="email" class="form-control11" required id="id_login">
</div>
<p></p>

<div class = "personal1">
    <div class = "a">メールアドレス　</div>
    <input type="email" name="login" placeholder="メールアドレス" autocomplete="email" class="form-control11" required id="id_login">
</div>
<p></p>


<div class = "change_personal_button">
    <a class="btn btn-primary" href="{% url 'maplan:personal' %}">戻る</a>
    <a class="btn btn-primary" href="{% url 'maplan:change_personalk' %}">確認画面</a>
</div>




{% endblock %}
