{% extends 'base.html' %}

{% block title %}個人情報変更{% endblock %}

{% block contents %}


<div class = "personal">
    <h1>変更内容確認画面</h1><br>
</div><br>

<div class = "personal1">
    <div class = "a">ユーザー名　　</div>
    <div class = "card b">ユーザー名</div>
</div>
<p></p>

<div class = "personal1">
    <div class = "a">メールアドレス</div>
    <div class = "card b">メールアドレス</div>
</div>
<p></p>

<div class = "change_personal_button">
    <a class="btn btn-primary" href="{% url 'maplan:change_personal' %}">戻る</a>
    <a class="btn btn-primary" href="{% url 'maplan:personal' %}">登録</a>
</div>

</div>

{% endblock %}
