{% extends 'base.html' %}

{% load static %}

{% block title %}地図+旅行プラン作成システム{% endblock %}

{% block contents %}
<div class="masthead">
    <div class="top_picture">
        <img src="{% static 'assets/img/bg-masthead.jpg' %}">
        <h1 class="picture_text">Maplan</h1>
    </div>
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <!-- Signup form-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <!-- Email address input-->
                        <div class="row">
                            <div class="col">
                                <div class="top_search">
                                    <input class="form-control form-control-lg" id="search" type="search" placeholder="検索ワードを入力" data-sb-validations="required,email" />
                                    <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:email">検索ワードを入力してください</div>
                                </div>
                            </div>
                        <div class="col-auto">
                            <div class="top_searchbutton">
                                <a class = "btn btn-primary" href = "{% url 'maplan:searchbox' %}">検索</a>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div>
        <div class = "index_pull_down">
            <select name="option">
                <option value = "popular">人気別</option>
                <option value = "price">料金別</option>
                <option value = "season">季節別</option>
            </select>
        </div>
        <div class="index_plan_picture_border" style="float:left">
            <img class = "test_picture" src="{% static 'assets/img/bg-masthead.jpg' %}">
        </div>
        {% for plan in plan_list %}
        {% if forloop.counter == 1 %}
            <a class="index_click" href = "{% url 'maplan:plan_detail' %}"><div class="index_plan_border">
            <h4 class="index_plan_name">{{ plan.plan_name }}/作成者</h4>
            <h5 class="index_plan_content">{{ plan.content }}</h5>
            </div></a>
        {% endif %}
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}