{% extends 'base.html' %}

{% block title %}個人情報{% endblock %}

{% block contents %}


<div class = "personal">
    <h1>個人情報確認・変更・退会</h1>

    <div class = "a">
    <label for="name">ユーザー名</label>
    <input id="name" type="text" name="name" value="ユーザー名" readonly>
    </div>

    <div class = "b">
    <label for="mail">メールアドレス</label>
    <input id="mail" type="text" name="mail" value="メールアドレス" readonly>
    </div>

    <div class = "c">
    <label for="password">パスワード</label>
    <input id="password" type="text" name="password" value="パスワード" readonly>
    </div>

</div>

<div class = "taikai">
    <h1>退会</h1>

    地図+旅行プラン作成システム退会<a class="btn btn-primary" href="{% url 'maplan:withdrawal' %}">退会</a>
</div>

{% endblock %}
