{% extends 'base.html' %}

{% block title %}個人情報{% endblock %}

{% block contents %}



<h1>個人情報確認・変更・退会</h1><br>

<div class="row">
    <div class="col">
        <input class="form-control form-control-lg" id="emailAddress" type="email" placeholder="検索ワードを入力" data-sb-validations="required,email" />
        <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:email">検索ワードを入力してください</div>
    </div>
<button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button></div>
</div>

{% endblock %}
