{% extends 'base.html' %}

{% block title %}個人情報{% endblock %}

{% block contents %}
<div class = "personal">
    <h1>個人情報確認・変更・退会</h1>
</div><br>

<div class = "personal1">
    <div class = "a">  ユーザー名　　　</div>
    {% for user in customuser_list %}
    {% if user.id == 1 %}
    <div class = "card b">{{ user.username}}</div>
    {% endif %}
    {% endfor %}
</div>
<p></p>

<div class = "personal1">
    <div class = "a">メールアドレス　</div>
    {% for user in customuser_list %}
    {% if user.id == 1 %}
    <div class = "card b">{{ user.email}}</div>
    {% endif %}
    {% endfor %}
</div>
<p></p>

<div class = "personal1">
    <div class = "a">パスワード　　　</div>
    <div class = "card b">********</div>
</div>
<p></p>

<div class = "personal_button">
    <a class="btn btn-primary" href="{% url 'maplan:mypage' %}">戻る</a>&emsp;&emsp;&emsp;
    <a class="btn btn-primary" href="{% url 'maplan:change_personal' %}">修正</a>&emsp;&emsp;&emsp;
    <a class="btn btn-primary" href="{% url 'maplan:change_password' %}">パスワード変更</a>&emsp;&emsp;&emsp;
    <a class = "btn btn-primary" href = "{% url 'maplan:withdrawal' %}">退会</a>
</div>

{% endblock %}
