{% extends 'base.html' %}

{% load static %}

{% block title %}地図+旅行プラン作成システム{% endblock %}

{% block contents %}

<div>

<div class = "pull_down">
    <select name="option">
        <option value = "Release">公開</option>
        <option value = "private">非公開</option>
    </select>
</div>

<div class = "plan_create2">

<div class = "plan_name" style = "float:left">

</div>

<div class="create1">
     <h1>プラン</h1>
</div>

<div class = "favorite_form_border_create">

    <div class = "favorite_form">
        <input id="favorite" type="checkbox" name="rate">
        <label for="favorite">♥</label>
    </div>

</div>
<div class = "map_border11" style = "float:left">
    <h1>map</h1>
</div>
<div class = "route_border11" >
    <h1>ルート</h1>
</div>

<div class="row11">
    <div>
        <div class="div-border11" style="float:left">絞り込み</div>
        <div class="div">並び替え</div>
    </div>
    <table class="table div-border side11">
        <tr>
            <td>
                <div>季節<br><br>
                    <input type="checkbox">春　
                    <input type="checkbox">夏
                </div>
                <div>
                    <input type="checkbox">秋　
                    <input type="checkbox">冬　
                    <input type="checkbox"> All
                </div>
            </td>
            <td>
                <div>ジャンル <br>
                    <input type="checkbox">景観　
                    <input type="checkbox">寺・神社　
                    <input type="checkbox">博物館・美術館　
                    <input type="checkbox">イベント
                </div>
                <div>
                    <input type="checkbox">公園　
                    <input type="checkbox">城・宮殿　
                    <input type="checkbox">テーマパーク　　
                    <input type="checkbox">海岸・岬　
                </div>
                <div>
                    <input type="checkbox">植物　
                    <input type="checkbox">街・集落　
                    <input type="checkbox">建造物　
                    <input type="checkbox">食　　
                    <input type="checkbox">その他
                </div>
                </td>

        </tr>
    </table>
</div>
<div class = "serchbox_text">

</div>
<div class = "plan_create_comment_boder" style="float:left" >
    <div class="pu111">
        <h1>この欄はプランを公開して<br>　　から使用されます</h1>
    </div>
</div>
<div class="ma111">
    <div class= "bun_border11" >
    <h1>文章</h1>
</div>

    <div class = "picture_border11" >
    <h1>写真</h1>
    </div>
</div>
<div class = "plan_create2_button">
    <a class="btn btn-primary" href="{% url 'maplan:plan_detail' %}">キャンセル</a>
    <a class="btn btn-primary" href="{% url 'maplan:plan_create_complete' %}">作成</a>
</div>
</div>

</div>

{% endblock %}