{% extends 'base.html' %}

{% load static %}

{% block title %}地図+旅行プラン作成システム{% endblock %}

{% block contents %}
<link rel="stylesheet" type="text/css" href="{% static 'css/send_file.css' %}"/>
<script type="text/javascript" src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/send_files_jq.js' %}"></script>

<div>
    <label for="form-image">ファイルを選択</label>
        <input type="file" id="form-image">
    <span class="select-image">選択されていません</span>
</div>
{% endblock %}
