{% extends 'base.html' %}

{% load static %}

{% block title %}地図+旅行プラン作成システム{% endblock %}

{% block contents %}

<div>
    <span class="result">検索結果</span>
    <div class="scroll box1" id="tour_list" ondragover="f_dragover(event)">
        <ul class="ul_tags">
            {% for tour in tourism_list %}
            <li class="li_tags"><div class="item" draggable="true" id="tourism_name_list">{{ tour.tourism_name }}</div></li>
            {% empty %}
            <li class="li_tags"><div class="item" draggable="true" id="NOT_FOUND">検索結果がありませんでした。</div></li>
            <li class="li_tags"><div class="item" draggable="true" id="NOT_FOUND">もう一度検索してください</div></li>
            {% endfor %}
        </ul>
    </div>
<p
  id="target"
  ondrop="drop_handler(event)"
  ondragover="dragover_handler(event)"
  class="plan_test_border">
</div>

<script>
  function dragstart_handler(ev) {
    // Add the target element's id to the data transfer object
    ev.dataTransfer.setData("text/plain", ev.target.id);
  }

  window.addEventListener("DOMContentLoaded", () => {
    // Get the element by id
    const element = document.getElementById("NOT_FOUND");
    // Add the ondragstart event listener
    element.addEventListener("dragstart", dragstart_handler);
  });
</script>

<script>
  function dragover_handler(ev) {
    ev.preventDefault();
    ev.dataTransfer.dropEffect = "move";
  }
  function drop_handler(ev) {
    ev.preventDefault();
    // 移動された要素のidを取得して、その要素をtargetのDOMに追加する
    const data = ev.dataTransfer.getData("text/plain");
    ev.target.appendChild(document.getElementById(data));
  }
</script>



{% endblock %}
