{% extends 'base.html' %}

{% load static %}

{% block title %}地図+旅行プラン作成システム{% endblock %}

{% block contents %}
<!--1-->
<div class = "plan_detail_comment_boder">
    <div class = "rate_form_boder">
<div class="rate-form1">
        <input id="star5" type="radio" name="rate" value="5">
        <label for="star5">★</label>

        <input id="star4" type="radio" name="rate" value="4">
        <label for="star4">★</label>

        <input id="star3" type="radio" name="rate" value="3">
        <label for="star3">★</label>

        <input id="star2" type="radio" name="rate" value="2">
        <label for="star2">★</label>

        <input id="star1" type="radio" name="rate" value="1">
        <label for="star1">★</label>
    </div>
        </div>
<div class = "rate_text"><input type="text" name="namae" size="40" maxlength="20" placeholder="テキスト"></div>

<!---->

<!--2-->
    <div class = "rate_form_boder">
<div class="rate-form1">
        <input id="star5-1" type="radio" name="rate" value="5">
        <label for="star5-1">★</label>

        <input id="star4-1" type="radio" name="rate" value="4">
        <label for="star4-1">★</label>

        <input id="star3-1" type="radio" name="rate" value="3">
        <label for="star3-1">★</label>

        <input id="star2-1" type="radio" name="rate" value="2">
        <label for="star2-1">★</label>

        <input id="star1-1" type="radio" name="rate" value="1">
        <label for="star1-1">★</label>
</div>
    </div>

    <div class = "change"><label class="open" for="pop-up">編集</label></div>
        <input type="checkbox" id="pop-up">
        <div class="overlay">
	<div class="window">
		<a class="btn btn-primary" href="{% url 'maplan:plan_detail' %}">戻る</a>

<div class = "plan">
    <h4>コメント内容を編集または削除</h4><br>
    <p>
    <div class="rate-form">
        <input id="star5-2" type="radio" name="rate" value="5">
        <label for="star5-2">★</label>

        <input id="star4-2" type="radio" name="rate" value="4">
        <label for="star4-2">★</label>

        <input id="star3-2" type="radio" name="rate" value="3">
        <label for="star3-2">★</label>

        <input id="star2-2" type="radio" name="rate" value="2">
        <label for="star2-2">★</label>

        <input id="star1-2" type="radio" name="rate" value="1">
        <label for="star1-2">★</label>
    </div>
<div>
	<textarea name="comment" placeholder="自分のコメント" cols="40" rows="8"></textarea>
</div>
<br><br>

<div class = "plan_button">

<!--削除-->
    <label>
        <a class="btn btn-primary">削除</a>
  <input type="checkbox" name="checkbox">
    <div id="popup">
        <br><br>
        <h4>こちらの内容を削除してよろしいでしょうか。</h4><br><br><br><br>
    <p>
	    <textarea name="comment" placeholder="自分のコメント" cols="40" rows="8"></textarea>
    </p>
        <br>
        <div class = "plan_button">
            <a class="btn btn-primary">戻る</a>
    <label>
        <a class="btn btn-primary">OK</a>
   <input type="checkbox" name="checkbox">
          <div id="popup">
          <br><br>
              <h4>削除完了しました。</h4><br><br><br><br><br>
              <div class = "plan_button">
                <a class="btn btn-primary" href="{% url 'maplan:plan_detail' %}">OK</a><a class="btn btn-primary">戻る</a>
              </div>
          </div>
    </label>
        </div>
    </div>
    </label>
<!---->


<!--編集-->
    <label>
        <a class="btn btn-primary">編集</a>
  <input type="checkbox" name="checkbox">
    <div id="popup">
        <br><br>
        <h4>こちらの内容でよろしいでしょうか。</h4><br>
        <p>
        <div class="rate-form">
            <input id="star5" type="radio" name="rate" value="5">
            <label for="star5">★</label>

            <input id="star4" type="radio" name="rate" value="4">
            <label for="star4">★</label>

            <input id="star3" type="radio" name="rate" value="3">
            <label for="star3">★</label>

            <input id="star2" type="radio" name="rate" value="2">
            <label for="star2">★</label>

            <input id="star1" type="radio" name="rate" value="1">
            <label for="star1">★</label>
        </div>
	    <textarea readonly name="comment" placeholder="自分のコメント" cols="40" rows="8"></textarea>
        <br><br><br>
        <div class = "plan_button">
            <a class="btn btn-primary">戻る</a>
    <label>
        <a class="btn btn-primary">OK</a>
   <input type="checkbox" name="checkbox">
          <div id="popup">
          <br><br>
              <h4>編集完了しました。</h4><br><br><br><br><br>
              <a class="btn btn-primary" href="{% url 'maplan:plan_detail' %}">戻る</a>
          </div>
    </label>
        </div>
    </div>
    </label>
<!---->


</div>
	</div>
</div>
</div>
<div><input type="text" name="namae" size="40" maxlength="20" placeholder="テキスト"></div>
<!---->

    <div class = "rate_form_boder">
<div class="rate-form1">
        <input id="star5-3" type="radio" name="rate" value="5">
        <label for="star5-3">★</label>

        <input id="star4-3" type="radio" name="rate" value="4">
        <label for="star4-3">★</label>

        <input id="star3-3" type="radio" name="rate" value="3">
        <label for="star3-3">★</label>

        <input id="star2-3" type="radio" name="rate" value="2">
        <label for="star2-3">★</label>

        <input id="star1-3" type="radio" name="rate" value="1">
        <label for="star1-3">★</label>
</div>
    </div>
<div><input type="text" name="namae" size="40" maxlength="20" placeholder="テキスト"></div>


    <div class = "rate_form_boder">
<div class="rate-form1">
        <input id="star5-4" type="radio" name="rate" value="5">
        <label for="star5-4">★</label>

        <input id="star4-4" type="radio" name="rate" value="4">
        <label for="star4-4">★</label>

        <input id="star3-4" type="radio" name="rate" value="3">
        <label for="star3-4">★</label>

        <input id="star2-4" type="radio" name="rate" value="2">
        <label for="star2-4">★</label>

        <input id="star1-4" type="radio" name="rate" value="1">
        <label for="star1-4">★</label>
</div>
    </div>
<div><input type="text" name="namae" size="40" maxlength="20" placeholder="テキスト"></div>


    <div class = "rate_form_boder">
<div class="rate-form1">
        <input id="star5-5" type="radio" name="rate" value="5">
        <label for="star5-5">★</label>

        <input id="star4-5" type="radio" name="rate" value="4">
        <label for="star4-5">★</label>

        <input id="star3-5" type="radio" name="rate" value="3">
        <label for="star3-5">★</label>

        <input id="star2-5" type="radio" name="rate" value="2">
        <label for="star2-5">★</label>

        <input id="star1-5" type="radio" name="rate" value="1">
        <label for="star1-5">★</label>
</div>
    </div>
<div><input type="text" name="namae" size="40" maxlength="20" placeholder="テキスト"></div>

</div>

<!--通報-->



{% endblock %}