{% extends 'base.html' %}

{% load static %}

{% block title %}地図+旅行プラン作成システム{% endblock %}

{% block contents %}
<link rel="stylesheet" type="text/css" href="{% static 'css/large_regulation.css' %}"/>

<div>

<div class = "pull_down">
    <select name="option">
        <option value = "Release">公開</option>
        <option value = "private">非公開</option>
    </select>
</div>

<div class = "plan_create2">

<div class = "plan_name" style = "float:left">
    <input type = "text">
</div>

<div class = "favorite_form_border_create">

    <div class = "favorite_form">
        <input id="favorite" type="checkbox" name="rate">
        <label for="favorite">♥</label>
    </div>

</div>
<div class = "map_border11" style = "float:left">
    <h1>map</h1>
</div>
<div class = "route_border11" >
    <h1>ルート</h1>
</div>

<div class="tag_box">
    <table class="table div-border side1">
        <tr>
            <td>
                <div><span class="result">季節</span><br><br>
                    {% for season in category_list %}
                    {% if season.category_code >= 25 and season.category_code != 26 %}
                    <input type="checkbox">{{ season.category_name }}
                    {% elif season.category_code == 26 %}
                    <input type="checkbox">{{ season.category_name }}
                    </div>
                    <div>
                    {% endif %}
                    {% endfor %}
                </div>
            </td>
            <td>
                <div><span class="result">ジャンル</span> <br>
                    {% for check in category_list %}
                    {% if check.category_code == -1 or check.category_code >= 25 %}
                    {% elif check.category_code == 11 or check.category_code == 21 %}
                    <br>
                    <input type="checkbox">{{ check.category_name }} &nbsp
                    {% else %}
                    <input type="checkbox">{{ check.category_name }} &nbsp
                    {% endif %}
                    {% endfor %}
                </div>
            </td>
        </tr>
    </table>
</div>
<div class = "serchbox_text">

<div class = "plan_create_comment_border" style="float:left" >
    <div class="pu111">
        <h1>この欄はプランを公開してから使用されます</h1>
    </div>
</div>
<div class="ma111">
</div>
<div class="ma111">
    <div class = "plan_create_comment_boder" style="float:left" >
        <div class="pu111">
            <h1>この欄はプランを公開してから使用されます</h1>
        </div>
    </div>
    <div class= "bun_border11">
    <textarea class="plan_create2_textarea" style="width: 100%; height: 100%;" placeholder="文章入力欄"></textarea>
</div>
    <div class="picture_border11" style="text-align: center;">
        <label>
            <div class="filelabel" title="写真を選択">
                <img src="{% static 'assets/img/upload.png' %}">
            </div>
            <input id="filesend" type="file" accept="image/png" alt="filesend">
        </label>
    </div>
</div>
<div class = "plan_create2_button">
    <a class="btn btn-primary" href="{% url 'maplan:created_one' %}">キャンセル</a>
    <a class="btn btn-primary" href="{% url 'maplan:plan_create_complete' %}">作成</a>
</div>
</div>

</div>
    </div>

{% endblock %}