{% extends 'base.html' %}

{% load static %}

{% block title %}地図+旅行プラン作成システム{% endblock %}

{% block contents %}
<link rel="stylesheet" type="text/css" href="{% static 'css/popup.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/regulation.css' %}"/>
<div>
    {% for plan in plan_list %}
    {% if plan.id == 1 %}
    <div class = "plan_name" style = "float:left">
        <h1>{{ plan.plan_name }}</h1>
    </div>
    <div class = "favorite_form_border_detail">
        <div class = "favorite_form">
            <input id="favorite" type="checkbox" name="rate">
            <label for="favorite">♥</label>
        </div>
    </div>
    <div class = "map_border" style = "float:left">
        <h1><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12655606.084254637!2d140.4790958863645!3d37.14594589120638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sja!2sjp!4v1674458027975!5m2!1sja!2sjp" width=100% height=100% style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></h1>
    </div>
    <div class = "route_border">
        {% for route in route_list %}
        {% if route.plan_code_id == object.id %}
        {{ route.tourism_code }}<br>
        {% endif %}
        {% endfor %}
    </div>
    <div class = "plan_detail_comment_boder" style = "float:left">
        {% if user.is_authenticated %}
        <!--送信-->
        <div class = "rate_form_boder1" style="float:left">
            <div class="rate-form1">
                <input id="star5" type="radio" name="rate" value="5">
                <label for="star5">★</label>
                <input id="star4" type="radio" name="rate" value="4">
                <label for="star4">★</label>
                <input id="star3" type="radio" name="rate" value="3">
                <label for="star3">★</label>
                <input id="star2" type="radio" name="rate" value="2">
                <label for="star2">★</label>
                <input id="star1" type="radio" name="rate" value="1">
                <label for="star1">★</label>
            </div>
        </div>
        <div class = "send">
            <label class="open4" for="pop-up4"><h5>送信</h5></label>
        </div>
        <input type="checkbox" id="pop-up4">
        <div class="overlay4">
            <div class="window4">
                <div class = "send_headline">
                    <h4>以下の内容で送信してよろしいですか？</h4><br>
                    <p>
                    <div>
                        <textarea name="comment" placeholder="自分のコメント" cols="40" rows="8" style="resize:none;"></textarea>
                    </div>
                    <br><br>
                    <div class = "plan_button">
                        <a class="btn btn-primary" href="{% url 'maplan:plan_detail' plan.pk %}">戻る</a>
                        <label>
                            <a class="btn btn-primary">送信</a>
                            <input type="checkbox" name="checkbox">
                            <div id="popup">
                                <br><br>
                                <h4>コメントの送信が完了しました。</h4>
                                <br><br><br><br><br>
                                <a class="btn btn-primary" href="{% url 'maplan:plan_detail' plan.pk %}">OK</a>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <input class="comment-width" type="text" name="namae" maxlength="50" placeholder="コメントを入力してください">
        </div>
        <!---->
        <!--編集-->
        {% if comment.comment != "" and comment.plan_id_id == plan.id %}
        <div class="rate_form_boder" style="float:left">
            {% for comment in comment_list %}
            {% if comment.plan_id_id == plan.id and comment.user_id_id == plan.user_id_id %}
            <div class="eva-form1">
                {% if comment.evalution >= 1 %}
                <input id="star5" type="radio" name="eva" value="5">
                <label for="star5">★</label>
                {% if comment.evalution >= 2 %}
                <input id="star4" type="radio" name="eva" value="4">
                <label for="star4">★</label>
                {% if comment.evalution >= 3 %}
                <input id="star3" type="radio" name="eva" value="3">
                <label for="star3">★</label>
                {% if comment.evalution >= 4 %}
                <input id="star2" type="radio" name="eva" value="2">
                <label for="star2">★</label>
                {% if comment.evalution == 5 %}
                <input id="star1" type="radio" name="eva" value="1">
                <label for="star1">★</label>
                {% endif %}
                {% endif %}
                {% endif %}
                {% endif %}
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class = "change">
            <label class="open" for="pop-up"><h5>編集</h5></label>
        </div>
        <input type="checkbox" id="pop-up">
        <div class="overlay">
            <div class="window">
                <a class="btn btn-primary" href="{% url 'maplan:plan_detail' plan.pk %}">戻る</a>
                <div class = "plan">
                    <h4>コメント内容を編集または削除</h4><br>
                    <p>
                    <div class="rate-form">
                        <input id="star5-5" type="radio" name="rate" value="5">
                        <label for="star5-5">★</label>
                        <input id="star4-5" type="radio" name="rate" value="4">
                        <label for="star4-5">★</label>
                        <input id="star3-5" type="radio" name="rate" value="3">
                        <label for="star3-5">★</label>
                        <input id="star2-5" type="radio" name="rate" value="2">
                        <label for="star2-5">★</label>
                        <input id="star1-5" type="radio" name="rate" value="1">
                        <label for="star1-5">★</label>
                    </div>
                    <div>
                        <textarea name="comment" placeholder="{{ comment.comment }}" cols="40" rows="8" style="resize:none;"></textarea>
                    </div>
                    <br><br>
                    <div class = "plan_button">
                    <!--削除-->
                        <label>
                            <a class="btn btn-primary">削除</a>
                            <input type="checkbox" name="checkbox">
                            <div id="popup">
                                <br><br>
                                <h4>こちらの内容を削除してよろしいでしょうか。</h4><br><br><br><br>
                            <p>
                                <textarea name="comment" placeholder="自分のコメント" cols="40" rows="8" style="resize:none;"></textarea>
                            </p>
                            <br>
                            <div class = "plan_button">
                                <a class="btn btn-primary">戻る</a>
                                    <label>
                                        <a class="btn btn-primary">OK</a>
                                        <input type="checkbox" name="checkbox">
                                        <div id="popup">
                                            <br><br>
                                            <h4>削除完了しました。</h4>
                                            <br><br><br><br><br>
                                            <div class = "plan_button">
                                                <a class="btn btn-primary" href="{% url 'maplan:plan_detail' plan.pk %}">OK</a>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </label>
                        <!---->
                        <!--編集-->
                        <label>
                            <a class="btn btn-primary">編集</a>
                            <input type="checkbox" name="checkbox">
                            <div id="popup">
                                <br><br>
                                <h4>こちらの内容でよろしいでしょうか。</h4><br>
                                <p>
                                <div class="rate-form">
                                    <input id="star5" type="radio" name="rate" value="5">
                                    <label for="star5">★</label>
                                    <input id="star4" type="radio" name="rate" value="4">
                                    <label for="star4">★</label>
                                    <input id="star3" type="radio" name="rate" value="3">
                                    <label for="star3">★</label>
                                    <input id="star2" type="radio" name="rate" value="2">
                                    <label for="star2">★</label>
                                    <input id="star1" type="radio" name="rate" value="1">
                                    <label for="star1">★</label>
                                </div>
                                <textarea readonly name="comment" placeholder="自分のコメント" cols="40" rows="8" style="resize:none;"></textarea>
                                <br><br><br>
                                <div class = "plan_button">
                                    <a class="btn btn-primary">戻る</a>
                                    <label>
                                        <a class="btn btn-primary">OK</a>
                                        <input type="checkbox" name="checkbox">
                                        <div id="popup">
                                            <br><br>
                                            <h4>編集完了しました。</h4>
                                            <br><br><br><br><br>
                                            <a class="btn btn-primary" href="{% url 'maplan:plan_detail' plan.pk %}">戻る</a>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <input class="comment-width" type="text" readonly name="namae" maxlength="50" value="{{ comment.comment }}">
        </div>
        {% endif %}
        {% endif %}
        <!---->
        <!--通報-->
        {% for comment in comment_list %}
        {% if comment.plan_id_id == plan.id and comment.user_id_id != plan.user_id_id %}
        <div class="rate_form_boder" style="float:left">
            <div class="eva-form1">
                {% if comment.evalution >= 1 %}
                <input id="star5" type="radio" name="eva" value="5">
                <label for="star5">★</label>
                {% if comment.evalution >= 2 %}
                <input id="star4" type="radio" name="eva" value="4">
                <label for="star4">★</label>
                {% if comment.evalution >= 3 %}
                <input id="star3" type="radio" name="eva" value="3">
                <label for="star3">★</label>
                {% if comment.evalution >= 4 %}
                <input id="star2" type="radio" name="eva" value="2">
                <label for="star2">★</label>
                {% if comment.evalution == 5 %}
                <input id="star1" type="radio" name="eva" value="1">
                <label for="star1">★</label>
                {% endif %}
                {% endif %}
                {% endif %}
                {% endif %}
                {% endif %}
            </div>
        </div>
        <div class = "report">
            <label class="open3" for="pop-up3"><h5>通報</h5></label>
        </div>
        <input type="checkbox" id="pop-up3">
        <div class="overlay3">
            <div class="window3">
                <div class = "report_text">
                    <h4>通報内容を下記にご記入ください</h4><br>
                    <p>
                    <div>
                        <textarea name="comment" placeholder="10文字未満であり連続した文字は送信不可" cols="40" rows="8" style="resize:none;"></textarea>
                    </div>
                    <br><br>
                    <div class = "plan_button">
                        <a class="btn btn-primary" href="{% url 'maplan:plan_detail' plan.pk %}">戻る</a>
                        <label>
                            <a class="btn btn-primary">通報</a>
                            <input type="checkbox" name="checkbox">
                            <div id="popup">
                                <br><br>
                                <h4>ご協力いただきありがとうございました。</h4>
                                <br><br><br><br><br>
                                <a class="btn btn-primary" href="{# url 'maplan:plan_detail' plan.pk #}">戻る</a>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <input class="comment-width" type="text" readonly name="namae" maxlength="50" value="{{ comment.comment }}">
        </div>
        {% endif %}
        {% endfor %}
        <!---->
    </div>
    <!--文章-->
    <div>
        <textarea class = "plan_detail_textarea" name="text" placeholder = "プラン作成の際に入力したプランに関する文章" readonly>{{ plan.content }}</textarea>
    </div>
    <!---->
    <!--写真-->
    <div class = "picture_border">
        <img class = "test_picture" src="{% static 'assets/img/bg-masthead.jpg' %}">
    </div>
    <!---->
</div>

{% endblock %}