{% extends 'base.html' %}

{% block contents %}

<div class="row">
    <div class="col1">
        <input class="form-control1 form-control-lg" id="emailAddress" type="email" placeholder="検索ワードを入力" data-sb-validations="required,email" />
        <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:email">検索ワードを入力してください</div>
    </div>
    <div class="col-auto1">
        <button class="btn btn-primary btn-lg" id="searchButton" type="button">🔍</button>
    </div>
    <div>
        <div class="div-border" style="float:left">絞り込み</div>
        <div class="div">並び替え</div>
    </div>
    <table class="table div-border side1">
        <tr>
            <td>
                <div>季節<br><br>
                    <input type="checkbox">春　
                    <input type="checkbox">夏
                </div>
                <div>
                    <input type="checkbox">秋　
                    <input type="checkbox">冬　
                    <input type="checkbox"> All
                </div>
            </td>
            <td>
                <div>ジャンル <br>
                    {% for check in category_list %}
                    <input type="checkbox">{{ check.category_name }}
                    {% endfor %}
                </div>
                <div>
                    <input type="checkbox">公園　
                    <input type="checkbox">城・宮殿　
                    <input type="checkbox">テーマパーク　　
                    <input type="checkbox">海岸・岬　
                </div>
                <div>
                    <input type="checkbox">植物　
                    <input type="checkbox">街・集落　
                    <input type="checkbox">建造物　
                    <input type="checkbox">食　　
                    <input type="checkbox">その他
                </div>
                </td>
            <td>
                <div style="border-bottom: 2px;">
                        <input type="radio" name="sort1">昇順　 　
                        <input type="radio" name="sort1" required checked>降順
                    <div class="line">
                    </div>
                </div><br>
                <div>
                    <input type="radio" name="sort2">都道府県順　
                    <input type="radio" name="sort2">評価順(★基準)
                </div>
                <div>
                    <input type="radio" name="sort2" required checked>お気に入り順
                    <input type="radio" name="sort2">コメント数順
                </div>
            </td>
        </tr>
    </table>
</div>
<div class = "serchbox_text">
    <h1>検索結果</h1>
    <section class="post-list">
        {% if object_list|length == 0 %}
            <p>検索結果が存在しません。</p>
        {% else %}
            <table class="table table-hover table-bordered">
                <tr>
                    <th>タイトル</th>
                    <th>内容</th>
                </tr>
                <tbody>
                {% for post in object_list %}
                    <tr>
                        <td width="35%">{{ post.title }}</td>
                        <td width="65%">{{ post.text }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </section>
    <div class="col-6 offset-3 justify-content-center">
        {% if is_paginated %}
            {% include 'pagination.html' %}
        {% endif %}
    </div>
    </div>


{% endblock %}