{% extends 'base.html' %}

{% block title %}サイトマップ{% endblock %}

{% block contents %}

<div class = "sitemap-title">
    <h1>サイトマップ</h1>
</div>
<div class="sitemap-title side" style="display: flex;">
    <div style="margin-left: 2.5%;">
        <h6>ログインしないで使用できるページ</h6>
    </div>
    <div style="margin-left: 25%;">
        <h6>ログイン後のページ</h6>
    </div>
</div>
<div class="side">
    <ul class = "sitemap">
        <li><a href="{% url 'maplan:index' %}">トップ</a></li>
        <li><a href="{% url 'maplan:searchbox' %}">検索画面</a></li>
        <li><a href="{% url 'account_login' %}">ログイン</a></li>
        <li><a href="{% url 'account_signup' %}">サインアップ</a></li>
        <li><a href="{% url 'maplan:inquiry' %}">お問い合わせ</a></li>
        <li><a href="{% url 'maplan:policy' %}">ポリシー</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'maplan:mypage' %}">マイページ</a></li>
        <li><a href="{% url 'maplan:created_one' %}">プラン作成</a></li>
        <li><a href="{% url 'maplan:personal' %}">個人情報</a></li>
        {% else %}
        <li><a href="javascript:void(0)" onClick="Login_alert()">マイページ</a></li>
        <li><a href="javascript:void(0)" onClick="Login_alert()">プラン作成</a></li>
        <li><a href="javascript:void(0)" onClick="Login_alert()">個人情報</a></li>
        {% endif %}
        <li style="list-style:none">　</li>
        <li style="list-style:none">　</li>
    </ul>
</div>
{% endblock %}
