<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../static/css/dragging.css" rel="stylesheet" />
</head>
<body>
  <div class="grid">
    <div class="box box1">
      <div class="item" draggable="true" id="item1">item1</div>
      <div class="item" draggable="true" id="item2">item2</div>
      <div class="item" draggable="true" id="item3">item3</div>
      <div class="item" draggable="true" id="item4">item4</div>
      <div class="item" draggable="true" id="item5">item5</div>
    </div>
    <div class="box box2">
    </div>
  </div>
</body>
</html>