{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% load static %}

{% block title %}Log In{% endblock %}

{% block active_login %}active{% endblock %}

{% block contents %}
<link rel="stylesheet" type="text/css" href="{% static 'css/small_regulation.css' %}"/>

<div class="container top-space">
    <form method="post" action="{% url 'account_login' %}">

        <h3>ログイン</h3>
        {% csrf_token %}
        <div class="min">
            {% bootstrap_form form %}
        </div>

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_password }}" />
        {% endif %}

        <button class="btn btn-primary" type="submit">ログイン</button>

        <p><a class="button secondaryAction" href="{% url 'account_reset_password' %}">パスワードリセット</a></p>
        <p><a class="button secondaryAction" href="{% url 'account_signup' %}">新規登録の方はこちら</a></p>
    </form>
</div>
{% endblock %}