{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block title %}送信完了ページ{% endblock %}

{% block contents %}
<link rel="stylesheet" type="text/css" href="{% static 'css/small_regulation.css' %}"/>
<div class="container top-space">
    <div class="row">
        <div class="my-div-style">
            <h1>パスワードリセット</h1>

            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>パスワードリセット用のメールを送信しました。</p>
            <a class="btn btn-primary" href="{% url 'account_login' %}">戻る</a>

            <button class="btn btn-primary" href="{% url 'account_reset_password_done' %}">再送信</button>
        </div>
    </div>
</div>
{% endblock %}