{% extends 'base.html' %}

{% load static %}

{% load django_bootstrap5 %}

{% block title %}パスワードリセット{% endblock %}

{% block active_login %}active{% endblock %}

{% block contents %}

<link rel="stylesheet" type="text/css" href="{% static 'css/small_regulation.css' %}"/>
<div class="container top-space">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <h5><p>パスワードリセット用メールを送信します。</p></h5>

    <form method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}

        <div class="min">
            {% bootstrap_form form %}
        </div>

        <a class="btn btn-primary" href="{% url 'account_login' %}">戻る</a>
        <button class="btn btn-primary" type="submit">送信</button>
    </form>

</div>
{% endblock %}