{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Sign Up{% endblock %}

{% block active_signup %}active{% endblock %}

{% load static %}

{% block contents %}
<link rel="stylesheet" type="text/css" href="{% static 'css/small_regulation.css' %}"/>
<div class="container top-space">
    <form method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}

        <h2>サインアップ</h2>

        <h3>以下の項目を入力してください</h3>

        <div class="min">
            {% bootstrap_form form %}
        </div>

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <button class="btn btn-primary" id="submitButton" type="submit">登録</button>
        <p><a class="button secondaryAction" href="{% url 'account_login' %}">既にアカウントをお持ちの方はこちらから</a></p>
    </form>
</div>
{% endblock %}