{% extends 'base.html' %}

{% block title %}Verify Your E-mail Address{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <div class="mt-5">
                <p>メールアドレスを確認してください</p>
                <p>確認のメールを送信しました。</p>
                <p>メールに記載されたリンクをクリックして、ユーザー登録を完了させてください。数分待っても確認のメールが届かない場合はご連絡ください。</p>
                <button class="btn btn-primary" type="submit">戻る</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}