{% extends 'base.html' %}

{% load static %}

{% block title %}サインアップ|メール送信完了ページ{% endblock %}

{% block contents %}
<link rel="stylesheet" type="text/css" href="{% static 'css/small_regulation.css' %}"/>
<div class="container　top-space">
    <div class="row">
        <div class="my-div-style">
            <div class="mt-5">
                <p>メールアドレスを確認してください</p>
                <p>確認のメールを送信しました。</p>
                <p>メールに記載されたリンクをクリックして、ユーザー登録を完了させてください。数分待っても確認のメールが届かない場合はご連絡ください。</p>
               <form action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">戻る</button>
               </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}