body, #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.center {
    text-align: center;
}

#mypage_nav {
  width: 100%;
  clear: both;
  overflow: hidden;
  margin: 16px auto;
}

#mypage_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#mypage_nav ul li {
  float: left;
  margin-right: auto;
  text-align: center;
  align-items:center;
  width:50%;
}

#mypage_nav ul li a {
  display: block;
  padding: 16px;
  text-decoration:none;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

#mypage_nav ul li  a:hover {
  background-color: #88b6fb;
}

#info_nav {
  width: 100%;
  clear: both;
  overflow: hidden;
  margin: 16px auto;
}

#info_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#info_nav ul li {
  float: right;
  margin-right: auto;
  text-align: center;
  align-items:center;
  width:50%;
}

.personal {
    text-align: center;
}

.personal1 {
    display: flex;
    justify-content: center;
}

.taikai {
    text-align: center;
}
.min{
    margin:auto;
    width: 400px;
}
.my-div-style{
    text-align: auto;
}

.a {
    line-height: 3.0;
    margin-left: 150px;
    display: inline-block;
    text-align: right;
}

.b {
    width: 30%;
    border: 1px solid #333;
    background: #f2f2f2
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.with {
    text-align: center;
    padding:10%;
}

.dra {
     padding:30px;
     text-align: center;
}

.change_personal_button {
    padding:30px;
    text-align: center;
}

.change_personal_button a:first-of-type {
    margin-right: 50px
}

.container{
    text-align: center;
}

.top-space{
    margin-top: 75px;
}

.personal_button {
    text-align: center;
}

.side-space{
  float: left;
  display: flex;
}

.left-side{
  margin-right: 488px;
}

.right-side{
  margin-right: 830px;
}

.table {
    margin: auto;
}

.table tr td{
  border: 2px #0a02ff solid;
}

.div-border{
  border: #000000 solid 2px;
  margin-left:9.3%;
}

.div-border11{
  border: #000000 solid 2px;
  margin-left:13.3%;
}

.div{
  border: #000000 solid 2px;
  margin-left:25.5%;
  width:5.1%;
}

.div11{
  border: #000000 solid 2px;
  margin-left:29.8%;
  width:5.1%;
}

.line{
    border: #0a02ff solid 1px;
    margin-left:-2.4%;
    width:105%;
}
.c {
    width: 30%;
    border: 1px solid #333;
    background: #f2f2f2
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan {
    text-align: center;
}

.plan_button {
    display: flex;
    justify-content: center;
    justify-content:space-around;
}

.rate-form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.rate-form input[type=radio] {
  display: none;
}

.rate-form label {
  position: relative;
  padding: 0 5px;
  color: #ccc;
  cursor: pointer;
  font-size: 35px;
}

.rate-form label:hover {
  color: #ffcc00;
}

.rate-form label:hover ~ label {
  color: #ffcc00;
}

.rate-form input[type=radio]:checked ~ label {
  color: #ffcc00;
}


.rate-form1 {
  border: #000000 solid 2px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

}

.rate-form1 input[type=radio] {
  display: none;
}

.rate-form1 label {
  position: relative;
  padding: 0 2px;
  color: #ccc;
  cursor: pointer;
  font-size: 20px;
}

.rate-form1 label:hover {
  color: #ffcc00;
}

.rate-form1 label:hover ~ label {
  color: #ffcc00;
}

.rate-form1 input[type=radio]:checked ~ label {
  color: #ffcc00;
}

.rate-form2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.rate-form2 input[type=radio] {
  display: none;
}

.rate-form2 label {
  position: relative;
  padding: 0 2px;
  color: #ccc;
  cursor: pointer;
  font-size: 20px;
}

.rate-form2 label:hover {
  color: #ffcc00;
}

.rate-form2 label:hover ~ label {
  color: #ffcc00;
}

.rate-form2 input[type=radio]:checked ~ label {
  color: #ffcc00;
}

.open {
	cursor:pointer;
}
#pop-up {
	display: none;
}
.overlay {
	display: none;
}
#pop-up:checked + .overlay {
	display: block;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.6);
}

#pop-up2:checked + .overlay {
	display: block;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.6);
}

.window {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100vw;
	max-width: 55%;
    padding: 20px;
	height: 85%;
	background-color: #fff;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.close {
	position: absolute;
	top: 4px;
	right: 4px;
	cursor:pointer;
}

.btn_margin{
    margin:auto 0 0 auto;
}

.scroll{
  height: 170px;
  width: 500px;
  overflow-x: scroll;
  overflow-y: scroll;
  border: solid;
}

.side {
  margin-left:10%;
  margin-right:10%;
}

.result {
    border: solid;
}

.open1 {
	cursor:pointer;
}
#pop-up {
	display: none;
}
.overlay1 {
	display: none;
}
#pop-up1:checked1 + .overlay1 {
	display: block;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.6);
}
.window1 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100vw;
	max-width: 55%;
    padding: 20px;
	height: 85%;
	background-color: #fff;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.close1 {
	position: absolute;
	top: 4px;
	right: 4px;
	cursor:pointer;
}

.btn_margin1 {
    margin:auto 0 0 auto;
}

.scroll1 {
  margin-right:81.5%;
  height: 75%;
  overflow: auto;
  border: solid;
}

.side1 {
  margin-left:10%;
  margin-right:10%;
}

.side11 {
  margin-left:14%;
  margin-right:41%;
}

label span{
	display: block;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.6);
}


label span{
	display: block;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.6);
}

.abc {
    margin: 0 0 2rem 7rem;
    color: red
}

.sitemap {
    line-height: 3.0;
    column-count: 2;
}

.sitemap-title {
    text-align: center;
}

.poli {
    text-align: right;
}

.pass {
    text-align: center;
    line-height: 3.0;
}

.pass a:first-of-type{
    margin-right: 50px
}

.wrap{
  display:flex;
}
.box{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100px;
  height:100px;
}

.change {
    padding-top: 3.7px;
    height: 34px;
    border: #000000 solid 2px;
    width:170px;
}

.rate_form_boder{
    margin-top: 1px;
    width: 125px
}

.rate_form_boder1{
    width: 125px
}

.report {
    padding-top: 3.7px;
    height: 34px;
    border: #000000 solid 2px;
    width:170px;
}

.report_text {
    text-align: center;
    padding-top: 90px
}

.overlay3 {
	display: none;
}

.window3 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100vw;
	max-width: 55%;
    padding: 20px;
	height: 85%;
	background-color: #fff;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}

#popup3 {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100vw;
	max-width: 100%;
    padding: 20px;
	height: 100%;
	background-color: #fff;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}


#pop-up3:checked + .overlay3 {
	display: block;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.6);
}

.send_headline {
    text-align: center;
    padding-top: 90px
}

.send {
    padding-top: 3.7px;
    height: 33px;
    border: #000000 solid 2px;
    width:170px;
}

.open3 {
	cursor:pointer;
}

.open4 {
	cursor:pointer;
}
#pop-up4 {
	display: none;
}
.overlay4 {
	display: none;
}
#pop-up4:checked + .overlay4 {
	display: block;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.6);
}

.window4 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100vw;
	max-width: 55%;
    padding: 20px;
	height: 85%;
	background-color: #fff;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}

.ul_tags{
    padding-left: 0;
}

.li_tags {
    list_style: none;
}

.drop_box {
    height: 75%;
    width: 75%;
}

.regulation {
  width: 100%;
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  padding-bottom: 50%;
}

.box2 {
  margin-top: 10%;
}

.plan_create2 {
    border: #000000 solid 1px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 4%;
    max-width: 100%;
    width: 90%;
    height: 150%;
}

.plan_create_comment_boder {
    border: #000000 solid 2px;
    margin-top:-7%;
	margin-left: 13%;
    max-width: 100%;
    width: 37%;
	height: 41.3%;
	background: #52deff;
}

.pull_down{
    margin-top: 3%;
    margin-left: 90%;
}

.plan_create2_button a:first-of-type{
    margin-right: 15%;
}

.plan_create2_button{
    margin-left: 77%;
    margin-top:2%;
}

.plan_name {
    margin-top: 3%;
    margin-left:43%;
}

.favorite_form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-left: 28%;
}

.favorite_form input[type=checkbox] {
  display: none;
}

.favorite_form label {
  position: relative;
  color: #ccc;
  cursor: pointer;
  font-size: 250%;
}

.favorite_form label:hover {
  color: #ff0000;
}

.favorite_form label:hover ~ label {
  color: #ff0000;
}

.favorite_form input[type=checkbox]:checked ~ label {
  color: #ff0000;
}

.favorite_form_border_detail{
    border: #000000 solid 1px;
    margin-top:4%;
    margin-left:77%;
    width:4%;
}

.favorite_form_border_create{
    border: #000000 solid 1px;
    margin-top:1%;
    margin-left:90%;
    width:5%;
}

.balance {
    margin-left: 20%;
}
.create_btn {
    text-align: right;
}

.serchbox_text {
    text-align:center;
    margin-top:10%;
}

.form-control1 {
    margin-left:11.1%;
    width: 88%;
}

.col1 {
  margin-top:1%;
  margin-bottom:1%;
  flex: 1 0 0%;
}

.col-auto1 {
  margin-top:1%;
  margin-right:9.2%;
  flex: 0 0 auto;
  width: auto;
}

.div5 {
    border: #000000 solid 2px;
    margin-left:2%;
    margin-right:55%;
    padding:10%;
}

.map_boader {
    border: #000000 solid 2px;
    margin-top: 5%;
	margin-left: 17%;
    max-width: 100%;
    width: 30%;
    height: 50%;
}

.route_boader {
    border: #000000 solid 2px;
    margin-top: 5%;
	margin-left: 49%;
    max-width: 100%;
    width: 32%;
    height: 50%;
}

.text_boader {
    border: #000000 solid 2px;
    margin-top: 3%;
	margin-left: 51%;
    max-width: 100%;
    width: 30%;
    height: 40%;
}

.picture_boader {
    border: #000000 solid 2px;
    margin-top: 1.5%;
	margin-left: 51%;
    max-width: 100%;
    width: 30%;
    height: 37.6%;
}

.plan_detail_comment_boder {
    border: #000000 solid 2px;
	margin-top: 3%;
	margin-left: 17%;
    max-width: 100%;
    width: 33%;
    height: 80%;
}

.map_boader11 {
    border: #000000 solid 2px;
    margin-top: 2%;
	margin-left: 15%;
    max-width: 150%;
    width: 35%;
    height: 19%;
}

.route_boader11 {
    border: #000000 solid 2px;
    margin-top: 2%;
	margin-right: 3%;
	margin-left: 51%;
    max-width: 150%;
    width: 35%;
    height: 19%;
}

.bun_boader11 {
    border: #000000 solid 2px;
	margin-left: 51%;
    width: 35%;
    height: 18%;
}

.picture_boader11 {
    border: #000000 solid 2px;
    margin-top: 3%;
	margin-right: 3%;
	margin-left: 51%;
    width: 35%;
    height: 20%;
}
.plan_detail_textarea {
    margin-top: 3%;
    margin-left: 1%;
    max-width: 100%;
    width: 30%;
    height: 40%;
    font-size: 10pt;
    line-height: 31px;
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: 0.2em 0.2em 0.5em black;
    resize:none;
    background-image: -webkit-linear-gradient(left, white 10px, transparent 10px), -webkit-linear-gradient(right, white 10px, transparent 10px), -webkit-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-image: -moz-linear-gradient(left, white 10px, transparent 10px), -moz-linear-gradient(right, white 10px, transparent 10px), -moz-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-image: -ms-linear-gradient(left, white 10px, transparent 10px), -ms-linear-gradient(right, white 10px, transparent 10px), -ms-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-image: -o-linear-gradient(left, white 10px, transparent 10px), -o-linear-gradient(right, white 10px, transparent 10px), -o-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-image: linear-gradient(left, white 10px, transparent 10px), linear-gradient(right, white 10px, transparent 10px), linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-size: 100% 100%, 100% 100%, 100% 31px;
}

.test_picture {
    width: 100%;
    height: 100%;
}

.ma111 {
    margin-top:-7%;
}

.pu111 {
    margin-top:35%;
    margin-left:8%;
}

.mb-5 {
    margin-left: 35%;
}

.favo {
    margin-left:73%;
}

.favo1 {
    margin-left: 10%;
    border: 3px solid #000000;
    width:13%;
    border-radius: 10px;
    padding: 5%;
    margin-top: 3%;
}

.favo2 {
    border: 3px solid #000000;
    width:72%;
    height: 13%;
    border-radius: 10px;
    margin-left: 23%;
    margin-top: -11.8%;
    padding: 5.7%;
}

.favo3 {
    margin-top:0%;
}

.favo4 {
    margin-top: -5%;
}

.favo5 {
    margin-top: -5%;
}

.favo6 {
    margin-top: -5%;
}

.favo7 {
    margin-top: -5%;
}

.favo8 {
    margin-top: -5%;
}

.favo9 {
    margin-top: -5%;
}

.favo10 {
    margin-top: -5%;
}

.favo11 {
    margin-top: -5%;
}

.fafa {
  border-radius: 5px;
  background-color: red;
  padding: 10px;
  text-decoration: none;
  color: white;
  margin-left: 30%;
}

.fafa1{
    margin-left: 92%;
    margin-top: 3.6%;
}

.fafa2 {
    text-align: center;
    margin-top: 5%;
    margin-left: 42%;
}
.circle{
    width: 200px;
    height: 100px;
    border-radius: 50%;
    background: #a5e3ff;
    border: 5px solid #ea9000;
    box-sizing: border-box;
}

.tabs {
  width: 500px;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
}

.tab_class {
  width: calc(100%/5);
  height: 50px;
  background-color: #eee;
  line-height: 50px;
  font-size: 15px;
  text-align: center;
  display: block;
  float: left;
  order: -1;
}

input[name="tab_name"] {
  display: none;
}

input:checked + .tab_class {
  background-color: cadetblue;
  color: aliceblue;
}

.content_class {
  display: none;
  width: 100%;
  border-bottom: 3px solid #eee;
  border-right: 3px solid #eee;
  border-left: 3px solid #eee;
  padding: 30px 10px;
}

input:checked + .tab_class + .content_class {
  display: block;
}

.fafa3 {
    margin-right: 50%;
}

.fafa4 {
    margin-left: 79%;
    margin-top: -6%;
}