body, #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.center {
    text-align: center;
}

#mypage_nav {
  width: 100%;
  clear: both;
  overflow: hidden;
  margin: 16px auto;
}

#mypage_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#mypage_nav ul li {
  float: left;
  margin-right: auto;
  text-align: center;
  align-items:center;
  width:50%;
}

#mypage_nav ul li a {
  display: block;
  padding: 16px;
  text-decoration:none;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

#mypage_nav ul li  a:hover {
  background-color: #88b6fb;
}

#info_nav {
  width: 100%;
  clear: both;
  overflow: hidden;
  margin: 16px auto;
}

#info_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#info_nav ul li {
  float: right;
  margin-right: auto;
  text-align: center;
  align-items:center;
  width:50%;
}

.personal {
    text-align: center;
}

.personal1 {
    display: flex;
    justify-content: center;
}

.taikai {
    text-align: center;
}
.min{
    margin:auto;
    width: 400px;
}
.my-div-style{
    text-align: auto;
}

.a {
    line-height: 3.0;
    margin-left: 150px;
    display: inline-block;
    text-align: right;
}

.b {
    width: 30%;
    border: 1px solid #333;
    background: #f2f2f2
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.with {
    text-align: center;
    padding:10%;
}

.dra {
     padding:30px;
     text-align: center;
}

.change_personal_button {
    padding:30px;
    text-align: center;
}

.change_personal_button a:first-of-type {
    margin-right: 50px
}

.container{
    text-align: center;
}

.top-space{
    margin-top: 75px;
}

.personal_button {
    text-align: center;
}

.side-space{
  float: left;
  display: flex;
}

.left-side{
  margin-right: 488px;
}

.right-side{
  margin-right: 830px;
}

.table {
    margin: auto;
}

.table tr td{
  border: 2px #0a02ff solid;
}

.div-border{
  border: #000000 solid 2px;
}
.c {
    width: 30%;
    border: 1px solid #333;
    background: #f2f2f2
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan {
    text-align: center;
}

.plan_button {
    display: flex;
    justify-content: center;
    justify-content:space-around;
}

.rate-form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.rate-form input[type=radio] {
  display: none;
}

.rate-form label {
  position: relative;
  padding: 0 5px;
  color: #ccc;
  cursor: pointer;
  font-size: 35px;
}

.rate-form label:hover {
  color: #ffcc00;
}

.rate-form label:hover ~ label {
  color: #ffcc00;
}

.rate-form input[type=radio]:checked ~ label {
  color: #ffcc00;
}


.rate-form1 {
  border: #000000 solid 2px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

}

.rate-form1 input[type=radio] {
  display: none;
}

.rate-form1 label {
  position: relative;
  padding: 0 2px;
  color: #ccc;
  cursor: pointer;
  font-size: 20px;
}

.rate-form1 label:hover {
  color: #ffcc00;
}

.rate-form1 label:hover ~ label {
  color: #ffcc00;
}

.rate-form1 input[type=radio]:checked ~ label {
  color: #ffcc00;
}

.rate-form2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.rate-form2 input[type=radio] {
  display: none;
}

.rate-form2 label {
  position: relative;
  padding: 0 2px;
  color: #ccc;
  cursor: pointer;
  font-size: 20px;
}

.rate-form2 label:hover {
  color: #ffcc00;
}

.rate-form2 label:hover ~ label {
  color: #ffcc00;
}

.rate-form2 input[type=radio]:checked ~ label {
  color: #ffcc00;
}

.open {
	cursor:pointer;
}
#pop-up {
	display: none;
}
.overlay {
	display: none;
}
#pop-up:checked + .overlay {
	display: block;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.6);
}

#pop-up2:checked + .overlay {
	display: block;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.6);
}

.window {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100vw;
	max-width: 55%;
    padding: 20px;
	height: 85%;
	background-color: #fff;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.close {
	position: absolute;
	top: 4px;
	right: 4px;
	cursor:pointer;
}

.btn_margin{
    margin:auto 0 0 auto;
}

.scroll{
  margin-right:-155%;
  height: 75%;
  overflow: auto;
  border: solid;
}

.side {
  margin-left:10%;
  margin-right:10%;
}

.result {
    border: solid;
}

.open1 {
	cursor:pointer;
}
#pop-up {
	display: none;
}
.overlay1 {
	display: none;
}
#pop-up1:checked1 + .overlay1 {
	display: block;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.6);
}
.window1 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100vw;
	max-width: 55%;
    padding: 20px;
	height: 85%;
	background-color: #fff;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.close1 {
	position: absolute;
	top: 4px;
	right: 4px;
	cursor:pointer;
}

.btn_margin1 {
    margin:auto 0 0 auto;
}

.scroll1 {
  margin-right:81.5%;
  height: 75%;
  overflow: auto;
  border: solid;
}

.side1 {
  margin-left:10%;
  margin-right:10%;
}
label span{
	display: block;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.6);
}


label span{
	display: block;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.6);
}



#popup{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100vw;
	max-width: 100%;
    padding: 20px;
	height: 100%;
	background-color: #fff;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}

label span:hover{
  cursor:pointer;
}
input[type="checkbox"]{
  display:none;
}
/*checkboxがチェックの状態になったらpopupを表示させる*/
input[type="checkbox"]:checked + #popup{
  display:block;
}


#popup1{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100vw;
	max-width: 100%;
    padding: 20px;
	height: 100%;
	background-color: #fff;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}


label{
  display:block;
}

label span:hover{
  cursor:pointer;
}
input[type="checkbox"]{
  display:none;
}
/*checkboxがチェックの状態になったらpopupを表示させる*/
input[type="checkbox"]:checked + #popup {
  display:block;
}


.abc {
    margin: 0 0 2rem 7rem;
    color: red
}

.sitemap {
    line-height: 3.0;
    column-count: 2;
}

.sitemap-title {
    text-align: center;
}

.poli {
    text-align: right;
}

.pass {
    text-align: center;
    line-height: 3.0;
}

.pass a:first-of-type{
    margin-right: 50px
}

.box1{
  background:red;
}
.box2{
  background:blue;
}

.wrap{
  display:flex;
}
.box{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100px;
  height:100px;
}

.change {
    padding-top: 3.7px;
    height: 33px;
    border: #000000 solid 2px;
    width:170px;
}

.rate_form_boder{
    margin-top: 1px;
    width: 125px
}

.rate_form_boder1{
    width: 125px
}

.report {
    padding-top: 3.7px;
    height: 34px;
    border: #000000 solid 2px;
    width:170px;
}

.report_text {
    text-align: center;
    padding-top: 90px
}

.overlay3 {
	display: none;
}

.window3 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100vw;
	max-width: 55%;
    padding: 20px;
	height: 85%;
	background-color: #fff;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}

#popup3 {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100vw;
	max-width: 100%;
    padding: 20px;
	height: 100%;
	background-color: #fff;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}


#pop-up3:checked + .overlay3 {
	display: block;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.6);
}

.send_headline {
    text-align: center;
    padding-top: 90px
}

.send {
    padding-top: 3.7px;
    height: 33px;
    border: #000000 solid 2px;
    width:170px;
}

.open3 {
	cursor:pointer;
}

.open4 {
	cursor:pointer;
}
#pop-up4 {
	display: none;
}
.overlay4 {
	display: none;
}
#pop-up4:checked + .overlay4 {
	display: block;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.6);
}

.window4 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100vw;
	max-width: 55%;
    padding: 20px;
	height: 85%;
	background-color: #fff;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}

.plan_create2 {
    border: #000000 solid 1px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    height: 140%;
}

.plan_detail_comment_boder {
    border: #000000 solid 3px;
	margin-top: 500px;
	margin-left: 30px;
    width: 500px;
	height:500px;
}

.pull_down{
    margin-top:20px;
    margin-left:1275px;
}

.plan_create2_button a:first-of-type{
    margin-right: 50px;
}

.plan_create2_button{
    margin-left:1120px;
}
