body, #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.center {
    text-align: center;
}

#mypage_nav {
  width: 100%;
  clear: both;
  overflow: hidden;
  margin: 16px auto;
}

#mypage_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#mypage_nav ul li {
  float: left;
  margin-right: auto;
  text-align: center;
  align-items:center;
  width:50%;
}

#mypage_nav ul li a {
  display: block;
  padding: 16px;
  text-decoration:none;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

#mypage_nav ul li  a:hover {
  background-color: #88b6fb;
}

#info_nav {
  width: 100%;
  clear: both;
  overflow: hidden;
  margin: 16px auto;
}

#info_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#info_nav ul li {
  float: right;
  margin-right: auto;
  text-align: center;
  align-items:center;
  width:50%;
}

.personal {
    text-align: center;
}

.personal1 {
    display: flex;
    justify-content: center;
}

.taikai {
    text-align: center;
}
.min{
    margin:auto;
    width: 400px;
}
.my-div-style{
    text-align: auto;
}

.a {
    line-height: 3.0;
    margin-left: 100px;
    display: inline-block;
    text-align: right;
}

.b {
    width: 30%;
    border: 1px solid #333;
    background: #f2f2f2
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.with {
    text-align: center;
    padding:10%;
}

.dra {
     padding:30px;
     text-align: center;
}

.change_personal_button {
    padding:30px;
    text-align: center;
}

.change_personal_button a:first-of-type {
    margin-right: 50px
}

.container{
    text-align: center;
}

.top-space{
    margin-top: 75px;
}

.personal_button {
    text-align: center;
}

.side-space{
  float: left;
  display: flex;
}

.left-side{
  margin-right: 488px;
}

.right-side{
  margin-right: 830px;
}

.table {
    margin: auto;
}

.table tr td{
  border: 2px #0a02ff solid;
}

.div-border{
  border: #000000 solid 2px;
}
.c {
    width: 30%;
    border: 1px solid #333;
    background: #f2f2f2
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan {
    text-align: center;
}

.plan_button {
    text-align: center;
}

.rate-form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.rate-form input[type=radio] {
  display: none;
}

.rate-form label {
  position: relative;
  padding: 0 5px;
  color: #ccc;
  cursor: pointer;
  font-size: 35px;
}

.rate-form label:hover {
  color: #ffcc00;
}

.rate-form label:hover ~ label {
  color: #ffcc00;
}

.rate-form input[type=radio]:checked ~ label {
  color: #ffcc00;
}

.btn_margin{
    margin:auto 0 0 auto;
}

.scroll{
  margin-right:81.5%;
  height: 75%;
  overflow: auto;
  border: solid;
}